Title: About
IsPage: true
ShowInNavbar: true
Order: 600
---
<p>Hi, my name is Alex Hedley</p>

<p>I'm a developer in the North East of England working for <a href="https://www.opencastsoftware.com/" target="_blank">Opencast Software</a></p>

<h3>More Information</h3>

<p>I wear waistcoats on a Wednesday.</p>

<h3>Contact me</h3>

<p>Reach out to me on <a href="https://www.twitter.com/alexhedley" target="_blank">Twitter</a></p>

<hr />

<p>This blog was generated using <a href="https://www.statiq.dev/">Statiq</a> a really nice open source tool that I can only suggest you to have a look at.</p>
